* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    ;

}

body section {
    padding-top: 53px;
    padding-bottom: 55px;

}


/*header*/
header {
    background-image: url("../img/jumbo.png");
    background-size: contain;
    background-repeat: no-repeat;
    height: 1158px;

}

#intestazione {
    display: flex;
    justify-content: center;
}

nav {
    display: flex;
    align-items: center;
    padding: 10px;
    width: 70%;
}

.logo {
    flex-grow: 1;
    text-align: left;

}

.link {
    flex-grow: 2;
    text-align: center;
    display: flex;
    text-align: center;
    justify-content: space-around;
    color: #ffffff;
}

.login {
    flex-grow: 1;
    text-align: right;
}

.btn {
    color: #000000;
    background-color: #ffffff;
    border-radius: 20px;
    border: none;
    padding: 10px 20px;

}

/*jumbotron*/

.jumbotron {
    padding-top: 200px;
}

.mac {
    padding: 20px 30px;
    border-radius: 40px;
    font-size: large;
    margin-right: 25px;

}

.browser {
    padding: 20px 30px;
    border-radius: 40px;
    font-size: large;
    background-color: #23272a;
    color: #ffffff;
    margin-left: 25px;

}

/*font paragrafi*/
p {
    font-size: 25px;
}




/*main*/

/*div conteiner e interni*/
.container {
    margin: 0 auto;
    display: flex;
    justify-content: center;

}

.introduzione {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 0 auto;
    text-align: center;
    color: #ffffff;
    font-size: 30px;
}


.content-two h1{
font-size: 55px;
margin-bottom: 50px;
}

.content-two p{
    margin-top: 50px;
}

.container.fine-main{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}
.titolo-fine-main{
    text-align: center;
}
.titolo-fine-main h1{
    font-size: 55px;
    margin-bottom: 50px;
}
.link-fine-main{
    background-image: url(../img/stars.svg);
    text-align: center;
    margin-top: 40px; 
    background-repeat: no-repeat;
}
.link-fine-main h2{
    margin-bottom: 50px; 
}
.purple{
    background-color: #7288da;
    color: #ffffff;
}


/*footer*/


.tabella {
    display: flex;
    align-items: stretch;
    justify-content: center;
    margin: 0 auto;
    width: 1200px;
}

.social {
    flex-grow: 1;
    width: 200px;
    
}

.liste {
    display: flex;
    flex-grow: 2;
    flex-shrink: 0;
}

.liste>div {
    flex-grow: 1;
}

.social h2{
    color: #7288da;
    font-size: 45px;
    margin-bottom: 45px;
}
.img{
    color: #ffffff;
    font-size: 25px;
    vertical-align: middle;
}
span{
    margin-left: 15px;
    text-align: center;
    vertical-align: middle;
}
.icon{
    color: #ffffff;
    margin-top: 50px;
}
.icon>i{
    margin-right: 50px;
    width: 36px;
    height: 36px;
}

strong{
    color: #7288da;
}
ul{
    list-style: none;
    line-height: 50px;
}
li{
    color: #ffffff;
}




/* footer menu finale*/


.finale {
    background-color: #23272a;
    display: flex;
    justify-content: center;
    height: 110px;
    margin-top: 0px;
    align-items: flex-end;
    padding-bottom: 0;
}

.menu-finale {
    display: flex;
    background-color: #23272a;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #7288da;
}

.logo-2 {
    text-align: center;
    font-size: 25px;
    padding: 3px 7px;
}

.bottone {
    text-align: center;
    font-size: 25px;
    padding: 3px 7px;
}


/*da rimuovere dopo sviluppo*/

.introduzione {
    height: 399px;
    width: 911px;
}


.content {
    
    height: 497px;
    width: 720px;
    
}


.content-two {
    height: 497px;
    width: 480px;
    
}

.fine-main {
    height: 900px;
    width: 1200px;
    
}
/*
.contatti {
    height: 578px;
    border: 2px dashed #000000;
}
*/

.menu-finale {
    width: 1200px;
    height: 80px;
}
/*
.logo-2 {
    border: 2px dashed #000000;

}

.bottone {
    border: 2px dashed #000000;
}*/











/*utilities classes*/
.bg-blue {
    background-color: #00008b;
}

.bg-white {
    background-color: #ffffff;
}

.bg-grey {
    background-color: #f6f6f6;
}

.bg-grey-1 {
    background-color: #d3d3d3;
}

.bg-black {
    background-color: #23272a;
    padding-bottom: 0;
}